* {
  font-family: sans-serif;
}

.yougo-section {
  list-style: none;
  padding-left: 0rem;
}

ul, ol {
  padding-left: 2.0rem;
}

span {
  font-size: 15px;
}

ul, ol, p, table {
  font-size: 14px;
}

.table td, .table th {
  padding: 6px;
}

.container-fluid {
  padding: 2rem 1rem 2rem 1rem;
}